*{
    margin:0px;
    padding:0px;
}

body {
    margin: 0px;
    background-color: rgb(31, 31, 31);
}

.encabezado {
    padding:10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-image:linear-gradient(to bottom , rgb(28,28,28) , rgb(28,28,28));
    border-bottom: 2px;
    border-bottom-color: rgb(80,80,80);
}

.menuicon {
    margin-left:20px;
    height:50px;
    width:50px;
}

.nav{
    display:flex;
    position:fixed;
    right: 20px;
    justify-content: space-around ;
    align-items: center;
    margin-right:20px;
}

.botonesEncabezado {
    border-left-color: navy;
    color: white; 
    border-color: #172072;
    padding: 14px 28px; 
    cursor: pointer; 
    background-image:linear-gradient(to bottom , rgb(10,10,10) , rgb(15,15,15));
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 13px;
}

.botonesEncabezado:hover {
    background-image:linear-gradient(to bottom ,  #585add 0% ,  #585add 100%);
}

.botonesEncabezado:active {
    background-image:linear-gradient(to bottom ,  #2b2c6e 0% ,  #2b2c6e 100%);
}

.sobreMi{
    display: flex;
    position: fixed;
    max-inline-size: 100%;
    color: white;
}