*{
    margin:0px;
    padding:0px;
}

body {
    margin: 0px;
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.encabezado {
    display:flex;
    justify-self: flex-start;
    position:fixed;
    z-index:4;
    background-image: linear-gradient(to bottom , #3c3c3c 0% , #b5b5b5 400%);
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin: 0px 20px;
    top:0px;
    height: 60px;
}

.menuicon {
    margin-left:20px;
    height:50px;
    width:50px;
}

.nav{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right:20px;
}

.botonesEncabezado {
    border-left-color: gray;
    color: white; 
    border-color: gray;
    padding: 14px 28px; 
    cursor: pointer; 
    background-image:linear-gradient(to bottom , rgb(10,10,10) , rgb(15,15,15));
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 13px;
}

.botonesEncabezado:hover {
    background-image:linear-gradient(to bottom ,  #585add 0% ,  #585add 100%);
}

.botonesEncabezado:active {
    background-image:linear-gradient(to bottom ,  #2b2c6e 0% ,  #2b2c6e 100%);
}

.sobreMi{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 150px;
}

.sobreMi img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: #fff 10px solid;
}

.infoYo {
    margin-right:100px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}

.infoYo h1 {
    position: relative;
    margin: 0px 20px ;
    font-size: 100px;
    width: 400px;
}

.infoYo p {
    margin-top: 15px;
    width: 12,1em;
    font-size: 3ch;
    color: #fff;
}


.eduskills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    color:white;
}

.educontenido{
    margin-top:50px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:80%;
}

.educontenido h3{
    margin-bottom: 25px;
    font-size: 60px;
}

.educontenido li{
    margin-top: 10px;
    font-size: 20px;
}

.educontenido img{
    width: 370px;
    height: 300px;
    border-radius: 5px;
}

.titedu{
    display: flex;
    justify-content:space-around;
    margin: 0px 20px ;
    font-size: 100px;
    width: 100%;
    height: 100px;
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
}

.experiencia{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width:100%;
}

.expcontenido{
    margin-top:50px;
    display:flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.laburo {
    margin-top:50px;
    display:flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

.laburo li{
    margin-top: 5px;
}

.expcontenido img{
    width: 300px;
    height: 300px;
}

.contacto{
    margin-top:100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.links{
    margin-top:50px;
    display: flex;
    font-size: 30px;
    display: flex;
    width:70%;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    list-style: none !important;
}