*{
    margin:0px;
    padding:0px;
}

body {
    margin: 0px;
    background-color: rgb(31, 31, 31);
    display: block;
    justify-content: column;
}

.separador{
    display: flex;
    width: 100%;
    height: 50px;
    border-top: rgb(50, 50, 50);
}

.encabezado {
    z-index: 10;
    margin-top: -60px;
    position: fixed;
    padding:10px;
    display:flex;
    justify-content: space-around;
    width: 100%;
    left: 0;
    align-items: center;
    background-image:linear-gradient(to bottom , rgb(28,28,28) , rgb(28,28,28));
    border-bottom: 2px;
    border-bottom-color: rgb(80,80,80);
}

.menuicon {
    margin-left:20px;
    height:50px;
    width:50px;
}

.nav{
    position:static;
    justify-content:flex-end ;
    align-items: center;
}

.botonesEncabezado {
    border-left-color: navy;
    color: white; 
    border-color: #172072;
    padding: 14px 28px; 
    cursor: pointer; 
    background-image:linear-gradient(to bottom , rgb(10,10,10) , rgb(15,15,15));
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 13px;
}

.botonesEncabezado:hover {
    background-image:linear-gradient(to bottom ,  #585add 0% ,  #585add 100%);
}

.botonesEncabezado:active {
    background-image:linear-gradient(to bottom ,  #2b2c6e 0% ,  #2b2c6e 100%);
}

.sobreMi{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 650px;
    color: white;
}

.infoYo {
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: center ;
    align-items: center;
    margin-top: -40px;
}

.infoYo h1 {
    position: relative;
    margin: 0px 20px ;
    font-size: 100px;
    width: 400px;
}

.infoYo p {
    margin-top: 15px;
    width: 12,1em;
    font-size: 3ch;
    color: #fff;
}


.eduskills{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 650px;
}

.titedu{
    display: flex;
    justify-content:space-around;
    margin: 0px 20px ;
    font-size: 100px;
    width: 100%;
    height: 100px;
    color: #fff;
    text-align: center;
}

.eduskills ol {
    
}